  <p>
    <strong>User:</strong>
    <%= comment.user.username %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
  <%= if @post.user.id == current_user.id 
  link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } end %>
</p>
